.cardd{
    border: solid blue 1px;
    width: 25%;
    margin: 10px;
}
.eventfetching{
    position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.agenda{
    width: 70%;
    height: 100px;
    border: solid 2px purple;
}