
.eventfetching{
    position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.agenda{
    width: 70%;
    
    border: solid 2px purple;
}

.signupform2 .profile{
    /* border: solid red 1px; */
    margin-top: 20%;
}

.signupform2 .profile .profilep1{
    /* border: solid red 1px; */
   text-align: center;
   margin-bottom: 30px;

}

.signupform2 .profile .profilep1 .fa-user{
    font-size: 5rem;
    color: white;
    background-color: rgb(27, 20, 20);
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 10px;
}


.profile p{
    text-align: center;

}

.eventcontainer
{
    width: 80%;
    padding-top:20px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    /* border: solid red 1px; */
    
}

.eventadd{
    /* border: solid red 1px; */
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.eventadd .addcard, .currenteventswrap, .pasteventswrap, .totaleventswrap, .thismonthwrap, .thisyearwrap{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.currentevents{
 background-color: rgb(193, 190, 250);
 width: 18%;
 position: relative;
 text-align:center;
}


.eventsummary
{
    /* border: solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    background-color: white;
}

.pastevents, .totalevents, .thismonth, .thisyear{

width: 200px;
position: relative;
text-align:center;

}
