.loginpagecontainer
{
    /* border: solid red 3px; */
    /* margin-top: 0.5%; */
    display: flex;
   /* border: solid red 1px; */
        width: 70%;
    margin: 0 auto;
    margin-top: 2%
   
  
    
}
/* 844*1022 */
.imgcontainer{
    width: 650px;
    /* border: solid black 2px; */
    /* display: block;
    position: absolute; */
    /* left:0; */
    height:787px;

    
}

.formcontainer{
    width: 650px;
    /* border: solid black 2px; */
    /* display: block;
    position: absolute;
    right:0; */
    height:786px;
   
    background-color: white;
}

.imgcontainer img{
    width: 100%;
    height: 100%;
}

.signinform{
    /* border: solid red 1px; */
    padding:20%;
    padding-top:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
}

.signinform input {

    border: 0;
    border-bottom: #AAA6FC solid 3px;
    padding-bottom: 10px;
    
   
   
}

 .form-group
{
    /* border: solid red 1px; */
    margin-top: 20px;
       
}

.signinform button{
 /* border: solid red 2px; */
 /* margin-top: 10px; */
 width: 40%;
 margin: 0 auto;
 background-color: #AAA6FC;
 border: 0;
 margin-top:60px;
}

.form-group label{
    color:  #AAA6FC;
    font-weight: 500;
    font-size: 1.8rem;
}

