.formcontainer2 {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 100vh;
}

.imgcontainer2 {
  width: 650px;
  height: 550px;
}
.imgcontainer2 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.signupform2 {
  width: 650px;
  height: 550px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}
.formcontainer2 .form-group {
  margin: 30px;
}

.signupform2 h1 {
  text-align: center;
  padding-top: 10px;
}

.signupform2 input {
  border: 0;
  border-bottom: #aaa6fc solid 3px;
  padding-bottom: 10px;
}

.signupform2 button {
  margin-left: 75px;
}

.list-group-item {
  color: #aaa6fc;
  font-size: 1rem;
}
